extends _base.pug

block content

	div.nav-default.nav-projects
		include _include-header.pug

	div.outer.page-title
		h2.h2 Featured projects

	mixin project(photo, stat1h2, stat1h7, stat2h2, stat2h7, resort, title, link)
		div.outer.project-featured
			.inner
				div.project-photo-block
					div.stats
						div.stat
							h2.h2= stat1h2
							p.h7= stat1h7
						div.stat
							h2.h2= stat2h2
							p.h7= stat2h7
					div.project-photo
						img(src=photo)
				div.project-info
					div.project-info-title
						h5.h5= resort
						h1.h1= title
					div.project-info-cta.cta-square
						a(href= link)
							h5.h5 View case study
							span.cta-arrow
	
	+project(
	'img/project/project-westgate.jpg',
	'$100M',
	'Original Launch Sales',
	'$65M',
	'Pre-sale launch',
	'Westgate Resort, Park City, Utah',
	'Sales Success In Two Economic Eras',
	'project-westgate.html')
	
	+project(
	'img/project/project-concordia.jpg',
	'$24M',
	'Post market crash',
	'3,000',
	'Qualified leads',
	'Concordia, Cape Coral, Florida',
	'A Post Meltdown Success Story',
	'project-concordia.html')
	
	+project(
	'img/project/project-promonotory.jpg',
	'$147M',
	'Volume year two',
	'$505K',
	'Avg sales price',
	'Promontory Club, Park City, Utah',
	'Tripled Sales Two Years In a Row',
	'project-promonotory.html')
	
	+project(
	'img/project/project-roco-ki.jpg',
	'$150M+',
	'First year sales',
	'$105M',
	'In one day',
	'Roco Ki, Dominican Republic',
	'Single Day Caribbean Sales Record',
	'project-roco-ki.html')
